.footer {
  height: 20vh;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .App__social--link {
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}