.news {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  &__title {
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    &::after {
      content: "";
      position: relative;
      top: 40px;

      display: block;
      margin: 0 auto;
      margin-bottom: 110px;

      height: 3px;
      width: 200px;

      background-color: #000;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__preview {
    display: flex;
    justify-content: flex-start;
    min-width: 33.3%;
    &--img {
      display: block;
      width: 200px;
      height: 140px;
      background-color: $main;
      margin-right: 45px;
    }
    &--text {
      @include text($black, 24, $main);
      &--title {
        font-weight: bolder;
        margin-bottom: 30px;
      }
      &--date {
        @include date($black);
      }
    }
  }
}

.news-main {
  display: -webkit-flex;
  display: flex;
  &__left {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin-right: 50px;
    &--trending {
      display: flex;
      margin-bottom: 50px;
      .video {
        flex-grow: 1;
        background-color: $main;
        color: $secondary;
        padding: 200px 40px 50px 40px;
        text-decoration: none;
        &__text {
          @include text($white, 34, $white);
          line-height: 150%;
          margin-bottom: 30px;
        }
        &__date {
          @include date($white);
        }
      }
      .description {
        flex-grow: 5;
        background-color: $secondary;
        display: flex;
        padding: 10px;
        justify-content: flex-end;
        align-items: flex-start;
        &__label {
          width: 205px;
          padding: 20px;
          font-size: 14px;
          letter-spacing: 0.1em;
          font-weight: bolder;
          @include displayFlexCenter;
          color: $black;
          text-transform: uppercase;
          background-color: #fff;
        }
      }
    }
    &--articles {
      display: flex;
      justify-content: space-between;
      .articles {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        flex-grow: 1;
        &__img {
          min-height: 280px;
          background-color: $secondary;
          margin-bottom: 40px;
        }
        &__text {
          @include text($black, 30, $main);
          max-width: 440px;
          margin-bottom: 30px;
        }
        &__date {
          @include date($black);
          margin-bottom: 30px;
        }
      }
      .videos {
        flex-grow: 2;
        background-color: $secondary;
        padding: 40px 50px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 50px;
        &__play-all {
          display: flex;
          align-items: center;
          color: $white;
          text-transform: uppercase;
          letter-spacing: 0.2em;
        }
      }
    }
  }
  &__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &__img {
      background-color: $secondary;
      height: 80%;
      margin-bottom: 40px;
    }
    &__text {
      @include text($black, 30, $secondary);
      line-height: 150%;
      max-width: 500px;
      margin-bottom: 20px;
    }
    &__date {
      @include date($black);
    }
  }
}
