* {
  margin: 0;
  padding: 1px;
}

.App {
  flex: 0 1 auto;
  padding-top: 80px;
  position: relative;
  width: 100%;
}

.App__container {
  width: 1800px;
  margin: 0 auto;
}

.App__container--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 180px;
}

.App__decoration-block {
  position: absolute;
  width: 33vw;
  height: 720px;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #c7dddd;
}

.App__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  list-style-type: none;
}

.App__item {
  margin-right: 50px;
}

.App__link {
  color: #1a1a1d;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
}

.App__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App__social--wrap {
  display: flex;
  flex-direction: column;
}

.App__social--link {
  display: block;
  text-decoration: none;
  width: 17px;
  height: 17px;
  margin-bottom: 40px;
}

.App__social--link svg {
  width: 17px;
  height: 17px;
  fill: #1a1a1d;
  transition: 0.2s;
}

.App__social--link svg :hover {
  fill: #c7dddd;
  transition: 0.2s;
}

.App__list {
  width: 20px;
  height: auto;
}

.App__list--line {
  display: block;
  width: 2px;
  height: 0;
  margin: 0 auto 75px;
  background-color: #1a1a1d;
  transition: 0.4s;
  animation: line 1s forwards;
}

.App__list--number {
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1d;
  transform: rotate(270deg);
}

.App__person {
  position: relative;
  width: 1124px;
  height: 800px;
  background-color: #e2e8e8;
}

.App__person--wrapper {
  position: absolute;
  top: 30%;
  left: -80px;
}

.App__person--name {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #1a1a1d;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  animation: reveal 2s forwards;
}

.App__person--name:nth-child(2)::after {
  position: absolute;
  bottom: 10px;
  left: calc(100% + 30px);
  content: "";
  width: 0;
  height: 7px;
  background-color: #fff;
}

.App__person--profession {
  padding-top: 75px;
  letter-spacing: 0.15em;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #1a1a1d;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: reveal 1s forwards 1s;
}

.App__play-profile {
  position: absolute;
  bottom: -1px;
  left: 0;
}

.App__play-profile--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-width: 0;
  outline: none;
  cursor: pointer;
}

.App__play-profile--btn--triangle {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #1a1a1d;
}

.App__view-profile--wrapper {
  position: relative;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 110px;
  background-color: #c7dddd;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.App__list-number {
  display: flex;
  margin-top: auto;
  width: 300px;
}

.App__list-number--wrapper {
  list-style-type: none;
}

.App__list-number--item {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  font-size: 18px;
  font-weight: bold;
}

.App__list-number--link {
  position: relative;
  width: 300px;
  padding-bottom: 40px;
  color: #1a1a1d;
  text-decoration: none;
}

.App__list-number--link--active {
  position: relative;
  width: 300px;
  padding-bottom: 40px;
  color: #1a1a1d;
  text-decoration: none;
}

.App__list-number--link--active::after {
  position: absolute;
  left: calc(100% - 100px);
  top: 12px;
  content: "";
  background-color: #1a1a1d;
  width: 55px;
  height: 2px;
}

@keyframes line {
  0% {
    height: 0;
  }
  100% {
    height: 62px;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 700px;
  }
}
/*# sourceMappingURL=App.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */
/*# sourceMappingURL=app.css.map */

/*# sourceMappingURL=app.css.map */
